Payload marker is sent only if there is non-zero-length payload

https://www.ietf.org/mail-archive/web/core/current/msg08091.html

```
            0                   1                   2                   3
            0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1
           +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
           |Len=13 |  TKL  |Extended Length|      Code     | TKL bytes ...
           +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
           |  Options (if any) ...
           +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
           |1 1 1 1 1 1 1 1|    Payload (if any) ...
           +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
```
**Figure 4: CoAP frame with 8-bit Extended Length field.**

This (and neither does the text) does not make clear that the payload marker is sent only if there is a non-zero-length payload.  (Same for other below.)

Please cf. text from Section 3 of RFC 7252:

>    Following the header, token, and options, if any, comes the optional
>    payload.  If present and of non-zero length, it is prefixed by a
>    fixed, one-byte Payload Marker (0xFF), which indicates the end of
>    options and the start of the payload.  The payload data extends from
>    after the marker to the end of the UDP datagram, i.e., the Payload
>    Length is calculated from the datagram size.  The absence of the
>    Payload Marker denotes a zero-length payload.  The presence of a
>    marker followed by a zero-length payload MUST be processed as a
>    message format error.

```
               0                   1                   2                   3
              0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1
             +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
             |   Len |  TKL  |      Code     |    Token (TKL bytes) ...
             +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
             |   Options (if any) ...
             +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
             |1 1 1 1 1 1 1 1|    Payload (if any) ...
             +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
```                      
**Figure 14: CoAP Message Format over WebSockets**

Maybe show 0, not Len here.
(This also does not make clear that the payload marker is sent only if there is a non-zero-length payload.)


It's a bit awkward to insert text about the Payload Marker, since other fields are not re-introduced from RFC7252.

In RFC8030, we used the Conventions and Terminology section to also provide more context for examples based on feedback from the reviewers. One possibility is to use a similar approach here and indicate that all framing examples have the Payload Marker set. And of course, the "(if any)" would need to be removed. And then there's still the need to clarify the WS case due to the requirement to set the Len to 0 and rely on the WS frame.