Other editorial

(1) s/between 0 and 12/& inclusive/

(2) maybe revisit the language about default values vs. origin values for CSM options:

```
S 5.3.1.
  These are not default values for the option, as defined in
  Section 5.4.4 in [RFC7252].  A default value would mean that an
empty
  Capabilities and Settings message would result in the option being
  set to its default value.

This is pretty confusing text. I take it that it means that if
the base values of both A and B are 0, then:

  Start    // A=0, B=0
  CSM[A=1] // A=1, B=0
  CSM[B=2] // A=1, B=2

Whereas if these were default values, then this would be:

  Start    // A=0, B=0
  CSM[A=1] // A=1, B=0
  CSM[B=2] // A=0, B=2  <- A resets to default

If that's so, perhaps you could say:

  These are not default values for the option, as defined in
  Section 5.4.4 in [RFC7252], because default values apply
  on a per-message basis and thus reset when the value is
  not present in a given CSM.
```

Closed by #173 