"Harmonize" definitions of URI schemes

https://www.ietf.org/mail-archive/web/core/current/msg08053.html

_Cl.6.2: This indicates ABNF is used for the definitions. However clause 6.1.1 and 6.1.2 make no mention of the ABNF syntax or reference to RFC3986. The descriptions of the definitions of the URI schemes in 6.2,  6.1.1 and 6.1.2 should be harmonised._

This could be more consistent. Currently, coap+tcp and coaps+tcp rely on references to coap and coaps in RFC7252:

    The semantics defined in [RFC7252], Section 6.1, apply to this URI scheme, with the following changes

and require that the reader is also familiar with https://tools.ietf.org/html/rfc7252#section-6

   The syntax of the "coap" and "coaps" URI schemes is specified in this
   section in Augmented Backus-Naur Form (ABNF) [RFC5234].  The
   definitions of "host", "port", "path-abempty", "query", "segment",
   "IP-literal", "IPv4address", and "reg-name" are adopted from
   [RFC3986].



Additional feedback - https://www.ietf.org/mail-archive/web/core/current/msg08091.html

**6.  CoAP URIs**

```
           CoAP over UDP [RFC7252] defines the "coap" and "coaps" URI schemes
           for identifying CoAP resources and providing a means of locating the
           resource.
```
In this section, the terms "client" and "server" are used WRT the TCP connection, not WRT CoAP, and that may be very confusing.  Maybe use different terms here (initiator/responder)?

**6.1.  CoAP over TCP and TLS URIs**

```
           [RFC7252], Section 8 (Multicast CoAP) is not applicable to these
           schemes.
```

Not sure this belongs here, but it also should apply to 6.2, so maybe move it up to 6.

```
           Resources made available via one of the "coap+tcp" or "coaps+tcp"
           schemes have no shared identity with the other scheme or with the
           "coap" or "coaps" scheme, even if their resource identifiers indicate
           the same authority (the same host listening to the same port).  The
           schemes constitute distinct namespaces and, in combination with the
           authority, are considered to be distinct origin servers.
```

Ditto.
```
            Similar to the "coap" and "coaps" schemes, the "coap+ws" and
           "coap+wss" schemes organize resources hierarchically under a CoAP
           origin server.  The key difference is that the server is potentially
           reachable on a WebSocket endpoint instead of a UDP endpoint.
```
 s/potentially reachable/intended to be reached/

```
           The WebSocket endpoint is identified by a "ws" or "wss" URI that is
           composed of the authority part of the "coap+ws" or "coap+wss" URI,
           respectively, and the well-known path "/.well-known/coap" [RFC5785].
           The path and query parts of a "coap+ws" or "coap+wss" URI identify a
           resource within the specified endpoint which can be operated on by
           the methods defined by CoAP.
```

The following paragraph applies to 6.1.1, 6.1.2, and this subsection.
(Move up to 6.)

```
           The syntax of the "coap+ws" and "coap+wss" URI schemes is specified
           below in Augmented Backus-Naur Form (ABNF) [RFC5234].  The
           definitions of "host", "port", "path-abempty" and "query" are the
           same as in [RFC3986].

             coap-ws-URI =
                "coap+ws:" "//" host [ ":" port ] path-abempty [ "?" query ]

             coap-wss-URI =
                "coap+wss:" "//" host [ ":" port ] path-abempty [ "?" query ]

           The port component is OPTIONAL; the default for "coap+ws" is port 80,
           while the default for "coap+wss" is port 443.

           Fragment identifiers are not part of the request URI and thus MUST
           NOT be transmitted in a WebSocket handshake or in the URI options of
           a CoAP request.
```
(They can't be in a CoAP request; not sure what the MUST NOT means. But again, this also applies to the TCP/TLS case.)

**6.2.1.  Decomposing and Composing URIs**

```
           o  A Uri-Host Option MUST only be included in a request when the
              <host> component does not equal the uri-host component in the Host
              header field in the WebSocket handshake.
```

Wrong use of MUST.  (MUST it be included or is this a MUST NOT if equal?)

```
           o  A Uri-Port Option MUST only be included in a request if |port|
              does not equal the port component in the Host header field in the
              WebSocket handshake.
```

Ditto.

```
           The steps to construct a URI from a request's options are changed
           accordingly.
```


The outline for the URI scheme definitions needs to follow the guidance in https://tools.ietf.org/html/rfc7595#section-7.4 which now requires:

> 
>    The previous version of this specification required the following
>    additional fields in a scheme registration request.  These fields are
>    no longer part of the template.  The answers instead belong in the
>    scheme specification.
> 
>    Scheme syntax:
>      See Section 3.2 for guidelines.
> 
>    Scheme semantics:
>      See Section 3.3 and Section 3.4 for guidelines.
> 
>    Encoding considerations:
>      See Section 3.3 and Section 3.6 for guidelines.
> 
>    Interoperability considerations:
>      See Section 3.9 for guidelines.
> 
>    Security considerations:
>      See Section 3.7 for guidelines.