1.1 Terminology: Readers should be familiar with RFC7959

https://www.ietf.org/mail-archive/web/core/current/msg08091.html

_This document assumes that readers are familiar with the terms and concepts that are used in [RFC6455], [RFC7252], and [RFC7641]._

and RFC 7959.



Closed by #67 