Clarify Diagnostic Payload

https://www.ietf.org/mail-archive/web/core/current/msg08053.html

_Cl.4.5/4.6: The text mentions a "diagnostic payload", is some standard envisaged for this or is it implementation dependent?_

This is implementation dependent, although it might be helpful to adapt or 
reference - https://tools.ietf.org/html/rfc7252#section-5.5.2



Reviewed in more detail. There is a reference to RFC7252 in an earlier section https://tools.ietf.org/html/draft-ietf-core-coap-tcp-tls-05#section-4.1:

```
   Payloads in Signaling messages are diagnostic payloads (see
   Section 5.5.2 of [RFC7252]), unless otherwise defined by a Signaling
   message option.
```

Perhaps the RFC7252 references needs to be emphasized more. Options:

- Blockquote related RFC7252 Section 5.5.2 in section 4.1 to call more attention to it
- Include an xref with each related normative statement 

The simplest mitigation is the xref:

  _A Release message indicates that the sender does not want to continue
   maintaining the connection and opts for an orderly shutdown.  The
   details are in the options.  A diagnostic payload **(see Section 5.5.2
   of [RFC7252])** MAY be included._