Default values and CSM options

@cabo wrote:

_Hmm, setting a default value for Max-Message-Size means that the option is virtually present in any CSM message, setting that value. In other words, an empty CSM resets Max-Message-Size to 1152. That is probably not what we want._

_It is probably best to point out that pitfall when introducing CSM options -- they never should have default values (the settings expressed by these options very well can)._

The original text in [sig-02](https://tools.ietf.org/html/draft-bormann-core-coap-sig-02#section-4.2):

_As per Section 4.6 of [RFC7252], the default value (and the value used when this Option is not implemented) is 1152._ 

Could you clarify what you're proposing? I'm also still unclear about this notion of empty CSM(s) resetting all options to default values. 


Closed in #46