Section 4 Signaling editorial changes

https://www.ietf.org/mail-archive/web/core/current/msg08091.html

**4.  Signaling**

```
           Signaling messages are introduced to allow peers to:

           o  Share characteristics such as maximum message size for the connection
```

s/Share/Relate/
(the nodes do not "share these characteristics")

```
           o  Shutdown the connection in an ordered fashion
```

Shut down
s/Ordered/Orderly/

```
           o  Terminate the connection in response to a serious error condition
```

Provide diagnostic information when terminating a connection in ...

**4.3.  Capability and Settings Messages (CSM)**

Hmm, should this be "Capabilities and Settings Messages"? (Need to change throughout.)
```
           Capability and Settings messages (CSM) are used for two purposes:

           o  Each capability option advertises one capability of the sender to
              the recipient.

           o  Setting options indicate a setting that will be applied by the
              sender.
```
s/A/One/
s/Capability and Settings message/CSM/
```
           A Capability and Settings message MUST be sent by both endpoints at
           the start of the connection and MAY be sent at any other time by
```
s/and/. Further CSM/
```
           either endpoint over the lifetime of the connection.
```
```
           Both capability and settings options are cumulative.  A Capability
```
s/settings/setting/
```
           and Settings message does not invalidate a previously sent capability
           indication or setting even if it is not repeated.  A capability
           message without any option is a no-operation (and can be used as
           such).  An option that is sent might override a previous value for
```

**4.3.2.  Max-Message-Size Capability Option**
```
           [...]

           As per Section 4.6 of [RFC7252], the base value (and the value used
           when this option is not implemented) is 1152.  A peer that relies on
           this option being indicated with a certain minimum value will enjoy
           limited interoperability.
```
(above 1152?)



https://www.ietf.org/mail-archive/web/core/current/msg08091.html

**Appendix B.  Negotiating Protocol Versions**

 ```
          In contrast to the message layer for UDP and DTLS, the CoAP over TCP
           message format does not include a version number.  If version
           negotiation needs to be addressed in the future, then Capability and
           Settings have been specifically designed to enable such a potential
           feature.
```

s/Capability and Settings/Capabilities and Settings Messages (CSM)/


