Securing CoAP over WebSockets

Referencing [https://www.ietf.org/mail-archive/web/core/current/msg08239.html](https://www.ietf.org/mail-archive/web/core/current/msg08239.html), I have these comments:

I feel the text in Section 7 discussing security solutions pertains to both TCP as well as WebSockets, and therefore propose the following amendment:

"A security solution MUST be implemented to protect CoAP over reliable transports and MUST be enabled by default. This document defines the TLS binding, but alternative solutions at different layers in the protocol stack MAY be used to protect CoAP over reliable transports when appropriate."

In addition I have the following suggestion for a new subsection as follows:

## TLS usage for CoAP over WebSockets

A CoAP client requesting a resource identified by a “coaps+ws” URI negotiates a secure WebSocket connection to a WebSocket server endpoint, with a “wss" URI.  This is described and depicted in section 6.4. As provided by the guidance in Section 4.1 of [RFC6455], the client MUST perform a TLS handshake after opening the connection to the server.

The guidance in Section 4.4 of [RFC7925] applies towards mandatory-to-implement TLS functionality for certificates, when a CoAP server exposes resources identified by a “coaps+ws” URI. For the server-side requirements in accepting incoming connections over port 443, guidance given in Section 4.2 of [RFC6455] applies.



Minor. Regarding _for the server-side requirements in accepting incoming connections over **port 443**, guidance given in Section 4.2 of [RFC6455] applies ...._

RFC6455 actually refers to _an HTTPS (HTTP-over-TLS) port_ in this section:

```
   1.  If the connection is happening on an HTTPS (HTTP-over-TLS) port,
       perform a TLS handshake over the connection.  If this fails
       (e.g., the client indicated a host name in the extended client
       hello "server_name" extension that the server does not host),
       then close the connection; otherwise, all further communication
       for the connection (including the server's handshake) MUST run
       through the encrypted tunnel [RFC5246].
```