Default Uri-Host

RFC 7252 section 5.10.1 says:

   The default value of the Uri-Host Option is the IP literal
   representing the destination IP address of the request message.
   Likewise, the default value of the Uri-Port Option is the destination
   UDP port.  The default values for the Uri-Host and Uri-Port Options
   are sufficient for requests to most servers.  Explicit Uri-Host and
   Uri-Port Options are typically used when an endpoint hosts multiple
   virtual servers.

Do we expect this default value to be applicable (and/or useful) for all the cases we are looking at?

Maybe keeping Default-Uri-Host is not such a bad idea after all, or maybe we should clarify that this means for, say, a WebSocket server.

We should simply document appropriate defaults for TLS and WebSockets.

Regarding this scenario in RFC7252:

_Explicit Uri-Host and Uri-Port Options are typically used when an endpoint hosts multiple virtual servers._

This is no longer relevant in CoAP over reliable transports. As Klaus noted in the earlier TRAC issue:

_In CoAP over WebSockets, the virtual server is specified during the WebSocket handshake in the Host header field. The Uri-Host Option is therefore not needed. A client wishing to talk to multiple virtual servers running on the same IP address has to open one WebSocket  connection to each virtual server. (Please correct me if I'm wrong.)_

 _In CoAP over TLS we have the SNI extension, so I would expect that CoAP over TLS behaves like CoAP over WebSockets: no Uri-Host Option in requests, one connection to each virtual server._

For the TLS+SNI case, the default value of the URI-Host is the **underlying destination address** that's shared across the virtual servers.  Further note that the Hostname passed in the TLS SNI extension is not an "IP literal":

   https://tools.ietf.org/html/rfc6066#section-3 - _Literal IPv4 and IPv6 addresses are not permitted in "HostName"._

[RFC 7252 - Decomposing URIs into Options](https://tools.ietf.org/html/rfc7252#section-6.4) would still require our draft to support the URI-Host Option for this case:

```
       If the <host> component of |url| does not represent the request's
       destination IP address as an IP-literal or IPv4address, include a
       Uri-Host Option and let that option's value be the value of the
       <host> component of |url|, converted to ASCII lowercase, and then
       convert all percent-encodings ("%" followed by two hexadecimal
       digits) to the corresponding characters.
```

At the moment, this issue does not appear actionable.





