CoAP Signaling Option Numbers Registry should use signal code rather than name

https://www.ietf.org/mail-archive/web/core/current/msg08053.html

> _Cl.8.2: IANA is requested to create a sub-registry for signaling options similar to the CoAP Option Numbers Registry (Section 12.2 of [RFC7252]), with the single change that a fourth column is added to the sub-registry that is **one of the codes in the Signaling Codes subregistry** (Section 8.1)._

_The table 2 below isn't correct as it includes names not the signal codes from Table 1_


https://www.ietf.org/mail-archive/web/core/current/msg08053.html

_Cl.8.2: I wonder if the first column in Table 3 should be "Applies to"? It seems more natural to look up the Signal Code to find the option, instead of the options which could have the same number._

https://www.ietf.org/mail-archive/web/core/current/msg08091.html

**8.2.  CoAP Signaling Option Numbers Registry**
```
           IANA is requested to create a sub-registry for signaling options
           similar to the CoAP Option Numbers Registry (Section 12.2 of
           [RFC7252]), with the single change that a fourth column is added to
           the sub-registry that is one of the codes in the Signaling Codes
           subregistry (Section 8.1).
``` 

s/one/one or more/
