Incorrect reference to Uri-Host Option

In Section 4.3.1 - _It has the same restrictions as the Uri-Host Option (Section **5.10** of [RFC7252]_ ...

This should be Section 5.10.1


The original text in https://tools.ietf.org/html/draft-bormann-core-coap-sig-01#section-4.1:

```
   The Server-Name option is a critical option (1 is odd) and carries a
   "string" value, with the same restrictions as for Uri-Host
   **(Section 5.10 of RFC 7252: length is between 1 and 255).**
```
This reference to 5.10 is no longer required because the table includes the format/length restrictions:

```
   +--------+------------+-------------+--------+--------+-------------+
   | Number | Applies to | Name        | Format | Length |  Base Value |
   +--------+------------+-------------+--------+--------+-------------+
   | 1      | CSM        | Server-Name | string |  1-255 | (see below) |
   +--------+------------+-------------+--------+--------+-------------+

```
unless "restrictions" is referring to the table elements for U=Unsafe, N=NoCacheKey, R=Repeatable which have not been used as properties for options in coap-tcp-tls.

@cabo - can you comment?



It is probably still useful to just point out that its value range was shaped after that of Uri-Host (which inherits restrictions from RFC 3986) — it does not make sense to set a default value for Uri-Host here that is not a valid value for Uri-Host...