Need to extend /.well-known to all the new URI schemes.

RFC 7252 says about `coap:`:

```
   The "coap" URI scheme supports the path prefix "/.well-known/"
   defined by [RFC5785] for "well-known locations" in the namespace of a
   host.  This enables discovery of policy or other information about a
   host ("site-wide metadata"), such as hosted resources (see
   Section 7).
```

in Section 6.1 of RFC 7252; it is maybe an erratum that we didn’t do the same in Section 6.2.

In any case, we need to do this for all the new URI schemes we define in the current spec, probably best by a blanket statement for all of them at the start of section 7.

RFC 7252 Section 6.2 does specify it by saying

    All of the requirements listed above for the "coap" scheme are also
    requirements for the "coaps" scheme [...]

At least that's the intention.

OK, it is not clear that extending `/.well-known` is a "requirement", so to me this is at least a "hold for document update" style erratum for RFC 7252.  But it is good that the right intention is in there, even if not unambiguously said so.
